/* RESETS */

html, body {
  height: 100%;
}

/* TYPOGRAPHY */

/* BASE */
html, body {
	margin: 0; 
	height: 100%; 
	overflow: hidden;
	background-color: silver;
	animation-name: transition;
  	animation-duration: 60s;

}

a {
	font-family: Georgia, Times New Roman, serif;
	font-size: 10vh;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

div {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: flex-end;
}

.back {
	font-size: 2vh;
	margin-top: 30vh;
	margin-bottom: 1vh;
}

.over {
	font-size: 2vh;
	margin-bottom: 10vh;
}

/* ANIMATION */
@keyframes transition {
  0% {background-color: silver;}
  50% {background-color: ghostwhite;}
  100% {background-color: silver;}